body{
    background-color: #FFF1CE;
    /* padding para que que se ajuste al nav */
    padding-top: 81px;
}

nav{
    background-color: #184B47;
    font-size: 20px;
    padding: 18px;
    height: 81px;

    /* z-index: 1000; */
}

.navbar-brand{
    margin-left: 120px;
    color: #FFF1CE;
}

.navbar-brand:hover{
    color: #FFF1CE;
}

.navbar-nav{
    margin-right: 70px;
}

.nav-link{
    height: 45px;
    width: 190px;
    background: none;
    border: 2px solid;
    color: white;
    text-align: center;
    font-size: 16px;
    margin-right: 5px;
    transition: all .3s;
}

.nav-link:hover{
    color: #184B47;
    background-color: white;
    border: 2px solid white;
    font-weight: 500;
}

/* main */

main{
    margin-bottom: 50px;
}

p{
    font-size: 1.3rem;
    text-align: justify;
}

/* .titulo__principal{
    text-align: center;
    font-size: 60px;
    font-family: 'Dancing Script';
    margin: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    padding-top: 40px;
    border-radius: 10px;
    background-color: #C4AB7F;
} */

/* index */

.titulo__index{
    background-image: url(../image/fondo.jpg);
    width: 100vw;
    background-size: cover;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 250px;
    /* margin-top: 0%; */
}



footer{
    background-color: #184B47;
    color: white;
    padding: 56px;
}

.footer__content h5{
    font-size: 15px;
}

.footer__contacto{
    padding-left: 45px;
}

.footer__contacto a{
    text-decoration: none;
}


svg path{
    color: black;    
}

.firma{
    text-align: right;
    padding-right: 45px;
}